* {
  box-sizing: border-box;
}
html {
  /*font-family: 'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei',sans-serif;*/
  // font-family: Helvetica, Arial, "PingFangSC-Regular", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
}
body {
  margin: 0;
  line-height: 1.6rem;
}
p {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  outline: none;
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

@function px2rem($px){
    $rem : 37.5px;
    @return ($px/$rem) + rem;
}

